<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retrieve Password</title>
</head>
<body>
  <img src="backgroundImage.jpg" alt="An office photo">
  <h1>Need help with your Password?</h1>
  <form action="/login" method="POST">

    <label for="Safety Code">Safety Code:</label>
    <input type="code" name="code" id="code" required><br>

    <label for="New Password">New Password:</label>
    <input type="password" name="password" id="password" required><br>

    <label for="Password Check">Repeat Your Password:</label>
    <input type="password" name="PasswordCheck" id="PasswordCheck" required><br>

    <button type="submit" href="/forgotPassword1">CHANGE PASSWORD</button>
    <br>
    Log in? <a href="/login">Create new account</a>
    Don't have an account? <a href="/signup">Create new account</a>
  </form>
</body>
</html>