<!-- Testando Rotas -->
<!-- 
Páginas:
Login
Signup
Welcome
Team page
My profile
Professional profile
Assessment{
  Avaliar
  Auto-avaliação Collaboration
  Auto-avaliação Decision Making
  Avaliação do Grupo
  Feedback Collaboration
  Feedback Decision Making
  }
 -->
 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testing Routes</title>
</head>
<body>
  <h1>Testing Routes</h1>

  <!-- Main Pages -->
  <!-- By clicking on each of the button, the user will be redirected to the page related to the main pages they want to go to -->
  <button onclick="location.href='/admin/createGame'">adm</button>
  <button onclick="location.href='/login'">Login</button>
  <button onclick="location.href='/signup'">Signup</button>
  <button onclick="location.href='/welcome'">Welcome</button>
  <button onclick="location.href='/team-page'">Team page</button>
  <button onclick="location.href='/my-profile'">My profile</button>
  <button onclick="location.href='/professional-profile'">Professional profile</button>
  <button onclick="location.href='/other-profiles'">other-profiles</button>
  <button onclick="location.href='/mychart'">chart.js</button>

  <!-- Assessment Pages -->
  <!-- By clicking on each of the button, the user will be redirected to the page related to assessment they want to go to -->
  <h2>Assessment</h2>
  <button onclick="location.href='/assessment/self-assessment-collaboration'">Self-assessment Collaboration</button>
  <button onclick="location.href='/assessment/self-assessment-decision-making'">Self-assessment Decision Making</button>
  <button onclick="location.href='/assessment/group-assessment-collaboration'">Group Assessment Collaboration</button>
  <button onclick="location.href='/assessment/group-assessment-decision-making'">Group Assessment Decision Making</button>
  <button onclick="location.href='/assessment/feedback-collaboration'">Feedback Collaboration</button>
  <button onclick="location.href='/assessment/feedback-decision-making'">Feedback Decision Making</button>
</body>
</html>
